.plans {
  padding: 5.6vw;

  @media (max-width: 768px) {
    padding-bottom: 44px;
  }

  h2 {
    text-align: center;

    @media (max-width: 768px) {
      margin-top: 44px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    .button {
      margin-top: 24px;
    }

    @media (max-width: 768px) {
      display: block;
      margin-top: 24px;
    }

    &__item {
      text-align: center;
      padding: 60px 44px 44px;
      max-width: 380px;
      width: 100%;

      @media (max-width: 768px) {
        padding: 0 44px 60px;
      }

      &:nth-child(2) {
        background-image: url(../images/fundo_combo_plus.png);
        background-repeat: no-repeat;
        background-size: contain;
      }

      img {
        height: 83px;

        @media (max-width: 768px) {
          height: 70px;
        }
      }

      strong {
        display: block;
        margin-top: 24px;
      }
    }
  }

  p {
    text-align: center;
  }
}
