@use "variables";

.shows {
  padding: 5.6vw;
  min-height: 50vw;

  &__list {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin-top: 44px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    &--is-active {
      display: grid;
    }

    &__item {
      img {
        max-width: 100%;
        border-radius: 4px;
      }
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      white-space: nowrap; // Forçando o texto a ficar numa linha só, mesmo que isso signifique extrapolar o espaço disponível no container
      overflow-x: scroll; // Adicionando um scroll horizontal para podermos acessar os elementos que extrapolaram o espaço do container
      padding-left: 60px; // Adicionando espaço na lateral esquerda para que o primeiro elemento seja visível e não fique cortado
    }

    &__button {
      cursor: pointer;
      padding-bottom: 5px;
      margin: 0 1vw;
      background: none;
      color: variables.$corTextoSecundario;
      font-size: 20px;
      text-transform: uppercase;
      border: none;
      border-bottom: 5px solid transparent;

      &--is-active {
        border-color: variables.$corTextoSecundario;
      }

      @media (max-width: 768px) {
        font-size: 16px;
        margin: 0 15px;
      }
    }
  }
}
