@use "variables"; // Não é necessário escrever o underline (_) e nem a extensão do arquivo
@use "hero";
@use "shows";
@use "plans";

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 700;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: variables.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize); // Podemos passar mixins dentro de outros mixins
  color: variables.$corTextoSecundario;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

ul {
  list-style: none;
}

body {
  background-color: variables.$corDeFundo;
}

.text--big {
  @include text(18px);
}

.text {
  @include text;
}

.text--small {
  @include text(12px);
}

.title--big {
  @include title(44px);
}

.title {
  @include title;
}

.title--small {
  @include title(28px);
}

.link-text {
  @include text(18px);
  color: variables.$corTextoSecundario;
  text-decoration: underline;
}

.button {
  display: block;
  width: 100%;
  height: 60px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  color: variables.$corTextoSecundario;
  background-color: #6421ff;
  border: none;
  border-radius: 4px;
  margin: 2vw 0 8px;
}

.image-text-section {
  padding: 5.6vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  img {
    max-width: 100%;
  }

  &__text_container {
    padding: 0 2vw;

    h2 {
      margin-bottom: 24px;
    }
  }

  &--image-full-width {
    display: block;
    position: relative;

    img {
      width: 100%;
    }

    &__text_container {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: calc(50% - 5.8vw);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
